@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    width: 100%;
    color: #333;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
}
.nav-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}
.nav-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #333;
}
.about-layout {
    background-image: url(./images/bg-image.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20% 100%;
}
.profile-img {
    margin: 50px;
}
.info {
    width: 1000px;
}
.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-left: 10%;
}
.intro01 {
    font-size: 32px;
    margin: 0;
}
.intro02 {
    font-size: 52px;
    margin: 0;
}
.btn-resume {
    padding-top: 20px;
}
.resume {
    padding: 10px 80px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
}
.title-project {
    display: flex;
    justify-content: center;
    position: relative;
}
.title01 {
    font-weight: 900;
    text-align: center;
    background-color: #fff;
    width: max-content;
    padding: 0 30px;
}
.project, .personal-proj, .software {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.project-info, .p-project-info {
    padding: 50px 0 50px 0;
}
.proj-cont, .p-proj-cont {
    align-items: center;
    text-align: center;
}
/*  modal */
/* Thumbnail image styling */
.image-thumbnail {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .image-thumbnail:hover {
    transform: scale(1.05);
  }
.phover {
    width: 1000px;
    height: 1000px;
    overflow: hidden;
}
/* Modal background styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

 /* Modal content styling */
 .modal-content {
    width: 90%;
    height: 100%;
    position: relative;
    overflow-y: auto; /* Allows scrolling */
    overflow-x: hidden; /* Hides horizontal scrollbar */
    border-radius: 8px;
  }

  /* Large image styling */
  .modal-content img {
    width: 80%;
    height: auto;
    border-radius: 8px;
  }
  /* Zoomed image styling */
  .modal-content img {
    height: auto;
    min-width: 100%;
    min-height: 100%;
    cursor: grab;
  }
  /* Close button styling */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background-color: #333;
    border: none;
    font-weight: bold;
  }


.proj01 {
    padding-right: 50px;
    width: 40%;
    height: 40%;
}
.proj02 {
    width: 40%;
    height: 40%;
}
.des01 {
    text-align: center;
}
/* .personal-project-info {
    padding: 50px 0;
} */
.per-proj01 {
    padding-right: 50px;
}
.p-des01 {
    text-align: center;
}
.bg-line01 {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    z-index: -1;
}
.bg-line02 {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    z-index: -1;
}
.bg-line03 {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    z-index: -1;
}
.bg-line04 {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    z-index: 1;
}
.software-list {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px 0;
}
.soft-logo {
    padding: 20px;
}
footer {
    /* display: flex;
    justify-content: center; */
    background-color: #333;
    color: #fff;
}
.contact {
    padding: 50px;
}
.contact-det {
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-des {
    display: flex;
    justify-content: center;
}
.contact-title {
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}
.contact-text {
    text-align: center;
}
.contact-info {
    padding: 10px 50px;
    color: #fff;
}
i {
    color: #fff;
    padding-right: 20px;
}
/* PAGINATION */
#pagination, #pagination01 {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.page-link,.page-link01 {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}
.page-link:hover , .page-link.active, .page-link01:hover , .page-link01.current{
    background-color: #333;
    color: #F4F4F4;
}

/* Responsive view */
@media screen and (max-width: 1200px) {
    .nav-container, .about-content {
        width: 90%;
        margin: 0 auto;
    }
    .project, .p-proj-cont {
        width: 90%;
    }
    #pagination, #pagination01 {
        width: 90%;
        margin: 0 auto;/* Pagination responsive view */
    }
    .page-link, .page-link01 {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) { 
    .nav-container {
        width: 90%;
    }
    .p-proj-cont, .phover {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .nav-container {
        width: 90%;
        font-size: 12px;
        margin: 0 auto;
    }
    .info {
        width: 90%;
        margin-top: 60px;
    }
    .about-content {
        display: flex;
        flex-direction: column;
    }
    .about-layout {
        background-size: 50% 45%;
        background-repeat: no-repeat;
        background-position: top left;
    }
    .profile-img {
        width: 60%;
    }
    .info {
        width: 90%;
    }
    .intro01 {
        font-size: 24px;
    }
    .intro02 {
        font-size: 32px;
    }
    .title01, .contact-title {
        font-size: 24px;
    }
    .bg-line04 {
        margin-top: 30px;
    }
    .contact-des {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
    }
    .contact-text {
        font-size: 14px;
    }
    .contact-info {
        padding: 10px 25px;
    }
    .btn-resume {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .resume {
        padding: 10px 50px;
    }
    .pagination, .pagination01 {
        width: 90%;
    }
    .about-content {
        margin: 0 auto;
    }
    .phover {
        width: 90%;
        height: 100%;
    }
    .software-list {
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .soft-logo {
        width: 50px;
        padding: 10px;
    }
}